.hidden{
    display: none;
}
.result__screen{
    position: relative;
    border:1px solid rgb(90, 90, 126);
    max-width: 500px;
    padding: 20px;
    width: 100%;
    height: calc(100vh - 40px);
    margin: 0 auto;
    text-align: center;
    &__play-again{
        border: none;
        padding:15px 20px;  
        background-color:$buttonYellow;
        font-size:1.2rem;
        width:50%;
        color: #fff;
        border-radius:25px;
    }
    &__play-again:hover{
        background-color:$buttonHover;
        cursor: pointer;
    }
    &__view-scores{
        border: none;
        padding:10px 15px;
        background-color:#8a8a8a;
        font-size:1rem;
        color: rgb(255, 255, 255);
        border-radius:25px;
    }
    &__view-scores:hover{
        background-color:#494949;
        color: #fff;
        cursor: pointer;
    }
    &__h1{
        font-size: 3rem;
        color: $scoreText;
    }
    &__score-container{
        color: $buttonGreen;
    }
}
.centered-v-h{
    position: absolute;
    width:100%;
    top:50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}